.header {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 15px 40px;
  height: 10vh;

  &__logo {
    margin-right: auto;
    font-size: 1.8rem;
    font-weight: bold;
  }

  &__nav {
    display: flex;
    gap: 30px;
  }

  &__logOut {
    margin-left: auto;
  }
}

@media screen and (max-width: 600px) {
  .header {
    padding: 15px 15px;
    &__logo {
      font-size: 1rem;
    }
    &__nav {
      gap: 20px;
    }
  }
}
