.buyItem {
  display: flex;
  align-items: center;
  border-bottom: 2px solid white;
  padding: 10px 0;
  justify-content: space-between;
}

.buyItemName {
  font-size: 0.9rem;
  margin-left: 5px;
  margin-right: 5px;
}

.button {
  background-color: #f9f673;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 2px 2px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 13px;
  padding: 0 5px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 5px;
}

.button:hover {
  background-color: #fff;
}

.button:active {
  box-shadow: #422800 0px 0px 0 0;
  transform: translate(2px, 2px);
}
